.container {
  width: 350px;
  padding: 12px;
  transition: height 0.3s ease;
}

.containerExpanded {
  min-height: 320px;  // 展开时的高度
}

.card {
  // margin-bottom: 16px;
}

.formItem {
  margin-bottom: 8px;
}

.listItem {
  position: relative;
  border-radius: 4px;
  margin-bottom: 12px;

  &:hover {
    background-color: #f0f2f5;
  }
  
  :global {
    .ant-list-item-action {
      margin-top: auto;
      align-self: flex-end;
      margin-bottom: 0px;
    }
  }
}

.environmentTag {
  position: absolute;
  right: -8px;
  top: 2px;
  font-size: 10px;
  padding: 0 4px;
  z-index: 1;
  transform: scale(0.75);
}

.editModal {
  :global {
    .ant-modal-content {
      padding: 20px 24px 24px;
    }
    
    .ant-modal-header {
      margin-bottom: 20px;
    }
    
    .ant-modal-body {
      padding: 0;
    }
    
    .ant-modal-footer {
      margin-top: 24px;
      padding: 0;
    }
  }
}

.lastSwitched {
  background-color: rgba(24, 144, 255, 0.05);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: #1890ff transparent transparent transparent;
    border-top-left-radius: 4px;
  }
  
  &:hover {
    &::before {
      border-color: #40a9ff transparent transparent transparent;
    }
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 12px;

  :global {
    .ant-radio-group {
      font-size: 12px;
    }
  }
}

.environmentButtons {
  margin: auto;
  
  :global {
    .ant-radio-button-wrapper {
      padding: 0 8px;
    }
  }
}

.environmentFilter {
  width: 100px;
  margin-bottom: 12px;
}

.accountList {
  // margin-top: 4px;  // 移除这个margin，因为不再需要
} 